# Node.js
node_modules/

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Environment
.env
.env.local
.env.test
.env.development
.env.production

# Git
.DS_Store

# Dependency directories
.jest
.pnpm
.cache
dist

# Optional: Uncomment the following line if you're using Yarn
# yarn-error.log

# Optional: Uncomment the following lines if you're using VSCode
.vscode
.settings